body{
	margin:0;
	background: pink;
	color:white;
	font-family:sans-serif;
	text-align: center;
}


h1{
	margin-top: 50px;
	border: white 5px solid;
	display: inline-block;
	padding: 25px;
	fon-size:3em;
}
